* {
	/* firefox-defined configuration */
	--tab-min-height: 32px;
	--tab-border-radius: 10px;

	/* custom-defined configuration */
	--accent-fallback: light-dark(rgb(235, 235, 239), rgb(31, 30, 37));
}

#alltabs-button,
.titlebar-buttonbox-container,
#page-action-buttons,
#tracking-protection-icon-container,
#identity-box {
	display: none;
}

#titlebar {
	z-index: 2;
}

#nav-bar {
	position: fixed !important;
	top: 0;
	left: 25%;
	right: 25%;

	z-index: 1;
	transition: top 0.2s ease, opacity 0.1s ease !important;
	border-top: none !important;
	border-radius: 10px !important;
	border: 1px solid var(--tab-selected-bgcolor) !important;
	background: var(--lwt-accent-color, var(--accent-fallback)) !important;
	opacity: 0;

	@media (max-width: 1100px) {
		left: 15%;
		right: 15%;
	}

	@media (max-width: 800px) {
		left: 30px;
		right: 30px;
	}
}

#navigator-toolbox {
	border-bottom: none !important;
}

#tabs-newtab-button {
	opacity: 0;
	transition: 0.2s opacity ease;
}

#navigator-toolbox:not(:hover, :focus-within, :has([open])) #nav-bar {
	transition-delay: 0.2s !important;
}

#navigator-toolbox:is(:hover, :focus-within, :has([open])) {
	#nav-bar {
		top: 3.5rem;
		opacity: 1;
	}

	#tabs-newtab-button {
		opacity: 1;
	}
}

.tab-background {
	box-shadow: none !important;
}

.tab-content {
	background-image: none !important;
}

.tabbrowser-tab:not(:hover) .tab-close-button {
	opacity: 0;
}

#tabbrowser-tabs {
	padding-left: 2px !important;
}

.tabbrowser-tab {
	margin-inline-start: 0 !important;
	transition: min-width 0.2s ease, max-width 0.2s ease !important;

	&[fadein]:not([pinned]) {
		max-width: 175px !important;
	}

	&[selected]:not([pinned]) {
		min-width: 250px !important;
		max-width: 250px !important;
	}
}

#urlbar-background {
	background-color: var(--tab-selected-bgcolor) !important;
	border-radius: 10px !important;
}

.urlbar-input-box {
	margin-left: 8px;
}

#tabbrowser-arrowscrollbox {
	min-width: 100vw !important;
}

#navigator-toolbox {
	border-bottom: none !important;
}

#main-window:not([chromehidden~="toolbar"]) {
	--uc-rc-padding: 6px;
	--uc-rc-radius: 10px;

	:root[inFullscreen] #navigator-toolbox[style*="margin-top"]+#browser,
	:root[inDOMFullscreen] #browser {
		--uc-rc-padding: 0;
		--uc-rc-radius: 0;
	}

	#appcontent .browserStack {
		margin-inline: var(--uc-rc-padding) !important;
		margin-bottom: var(--uc-rc-padding) !important;
		border-radius: var(--uc-rc-radius) !important;
		background-color: var(--lwt-accent-color, var(--accent-fallback)) !important;
		position: relative !important;

		&::after {
			content: "";
			position: absolute;
			inset: 0;
			border-radius: inherit;
			box-shadow: 0 0 0 16px var(--lwt-accent-color, var(--accent-fallback)) !important;
			border: 1px solid var(--tab-selected-bgcolor) !important;
			clip-path: inset(0);
			pointer-events: none;
		}
	}

	#statuspanel {
		overflow: hidden;
	}

	.devtools-toolbox-side-iframe {
		margin-block-end: var(--uc-rc-padding) !important;
		border-radius: var(--uc-rc-radius) !important;
		overflow: hidden !important;
		box-shadow: var(--lwt-accent-color) !important;

		&:first-child {
			margin-inline-start: var(--uc-rc-padding) !important;
		}

		&:last-child {
			margin-inline-end: var(--uc-rc-padding) !important;
		}
	}

	.devtools-toolbox-bottom-iframe {
		margin-inline: var(--uc-rc-padding) !important;
		margin-block-start: 0 !important;
		border-radius: var(--uc-rc-radius) !important;
		overflow: hidden !important;
		box-shadow: var(--lwt-accent-color) !important;
	}

	.devtools-side-splitter,
	.devtools-horizontal-splitter {
		background-color: var(--lwt-accent-color) !important;
	}

	.browserContainer.responsive-mode {
		background-color: var(--lwt-accent-color) !important;

		& .rdm-toolbar {
			margin-inline: var(--uc-rc-padding) !important;
			border-top-left-radius: var(--uc-rc-radius) !important;
			border-top-right-radius: var(--uc-rc-radius) !important;
			width: calc(100% - var(--uc-rc-padding) * 2) !important;
		}
	}

	:not(:root[inFullscreen] #navigator-toolbox[style*="margin-top"])+#browser #sidebar-splitter {
		border-inline-width: 0 !important;
	}

	#browser {
		background-color: var(--lwt-accent-color, var(--accent-fallback)) !important;
	}

	#tabbrowser-tabpanels {
		background-color: var(--lwt-accent-color) !important;
	}
}

#sidebar-box {
	margin-inline: var(--uc-rc-padding) !important;
	margin-bottom: var(--uc-rc-padding) !important;
	border-radius: var(--uc-rc-radius) !important;
	background-color: var(--lwt-accent-color) !important;
	position: relative !important;

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: inherit;
		box-shadow: 0 0 0 16px var(--lwt-accent-color) !important;
		border: 1px solid var(--tab-selected-bgcolor) !important;
		clip-path: inset(0);
		pointer-events: none;
	}
}